################################################################################################
################################################################################################

        ###########  修改默认参数  ###################################
        ## 修改WIFI的地区，源码中默认2.4G是中国区，5G是美国区，统一改成中国区。
        sed -i 's/"US"/"CN"/g' /opt/rt-n56u/trunk/user/shared/defaults.h

        ## 修改版本后面的随机参数为编译日期
        sed -i 's/git rev-parse --short=7 HEAD/date +%Y%m%d/g' /opt/rt-n56u/trunk/versions.inc
        
        ## 修改NTP时钟同步服务器
        sed -i 's/"ntp1.aliyun.com"/"pool.ntp.org"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/"2001:470:0:50::2"/"time.pool.aliyun.com"/g' /opt/rt-n56u/trunk/user/shared/defaults.h

        ## 修改DHCP分配时自带的域名，原来会有一个域叫lan，现在改为空白  
        sed -i 's/"lan"/""/g' /opt/rt-n56u/trunk/user/shared/defaults.c

        ## 修改默认WIFI名称
        sed -i 's/BOARD_PID "_%s"/"PDCN"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/BOARD_PID "_5G_%s"/"PDCN_5G"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/BOARD_PID "_GUEST_%s"/"PDCN_GUEST"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/BOARD_PID "_GUEST_5G_%s"/"PDCN_GUEST_5G"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
          
        ## 在编译K2P的固件之前，修改所有IP地址为192.168.2.1，把DHCP地址限制在101-199之间。
        ## 部分原来就是192.168.2.1的，又写了一遍，是方便之后编译其他固件时准备的。
        ## 源码中修改的不完整，导致部分界面还显示错误的IP地址，应该是192.168.2.1的，还显示192.168.1.1  
        sed -i 's/"192.168.2.1"/"192.168.123.1"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/"192.168.2.100"/"192.168.123.101"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/"192.168.2.244"/"192.168.123.199"/g' /opt/rt-n56u/trunk/user/shared/defaults.h
        sed -i 's/192.168.2.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        sed -i 's/192.168.2.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/dict/EN.footer
        sed -i 's/192.168.2.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/Restarting.asp
        sed -i 's/192.168.1.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/Advanced_APLAN_Content.asp
        sed -i 's/192.168.1.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/Advanced_LAN_Content.asp
        sed -i 's/192.168.1.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/Advanced_SettingBackup_Content.asp
        sed -i 's/192.168.1.1/192.168.123.1/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/general.js

        ## 无线高级设置中的参数，改为打开。默认状态应该为开（界面中有*号标识，表示默认状态），源码中改为了关，现在又将它开启
        sed -i 's/"wl_APSDCapable", "0"/"wl_APSDCapable", "1"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        sed -i 's/"rt_APSDCapable", "0"/"rt_APSDCapable", "1"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
          
        ## 系统高级设置中的参数，全部关闭，具体功能可以参照界面去调  
        sed -i 's/"sshd_enable", "1"/"sshd_enable", "0"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        sed -i 's/"lltd_enable", "1"/"lltd_enable", "0"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        sed -i 's/"crond_enable", "1"/"crond_enable", "0"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        sed -i 's/"watchdog_cpu", "1"/"watchdog_cpu", "0"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        
        ## ppp拨号时，自动响应lcp请求的开关，这里关闭
        sed -i 's/"wan_ppp_lcp", "1"/"wan_ppp_lcp", "0"/g' /opt/rt-n56u/trunk/user/shared/defaults.c
        
        ## 修改中文翻译字典，统一将2.4G改成2.4GHz、5G改成5GHz，更加严谨。
        ## 注意批量修改的先后顺序，关键字匹配时，如果原来就是2.4GHz，会将前面的2.4G匹配成2.4GHz，再加上后面的Hz，结果会变成2.4GHzHz
        sed -i 's/2.4G/2.4GHz/g' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        sed -i 's/5G/5GHz/g' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        sed -i 's/GO_2G=2.4GHz 设置/GO_2G=转到 2.4GHz 设置/g' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        sed -i 's/GO_5GHz=5GHz 设置/GO_5G=转到 5GHz 设置/g' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        
        ## 修改界面中的字符，将2.4G改成2.4GHz、5G改成5GHz，更加严谨  
        sed -i 's/2.4G/2.4GHz/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/state.js
        sed -i 's/value="5G"/value="5GHz"/g' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/state.js
        ######################################################################

        ###########  清除默认选项  ###################################
        ##  将所有后缀是config的文件中，内容是“=y”的字符，全部替换为“=n”的字符
        sed -i 's/=y/=n/g' /opt/rt-n56u/trunk/configs/templates/*.config
          
        ######################################################################
        
        ###########  添加定义选项  ###################################
        #### 以下选项是定义你需要的功能，（y=集成,n=忽略），重新写入到.config文件
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_ENABLE_IPV6=n/CONFIG_FIRMWARE_ENABLE_IPV6=y/g' /opt/rt-n56u/trunk/configs/templates/*.config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_LANG_CN=n/CONFIG_FIRMWARE_INCLUDE_LANG_CN=y/g' /opt/rt-n56u/trunk/configs/templates/*.config
        ######################################################################









          
